@using Blazor.Core;

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <!--NOTE: References to static resources in the Blazor.Core assembly-->
    <link href="_content/Blazor.Core/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="_content/Blazor.Core/css/app.css" rel="stylesheet" />
    <!--NOTE: Virtual file? There is not such file but this seems to be required for stylesheets to function-->
    <link href="Blazor.Wasm.Host.styles.css" rel="stylesheet" />
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
    <PageTitle>Blazor WASM</PageTitle>
</head>

<body>
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
